@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital@0;1&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden !important;
    font-family: 'Crimson Pro', serif;
}

.navbar {
    background-color: white !important;
}

.navbar-brand img{
    width: 200px;
    margin-right: 12px;
}

.navbar a{
    font-family: 'Old Standard TT', serif;
    text-transform: uppercase;
    font-size: 24px;
    color: rgb(71, 71, 71) !important;
}

.navbar a:hover{
    color: #FF64D2 !important;
}

.hero{
    width: 100%;
    background-image: url(https://images.pexels.com/photos/225017/pexels-photo-225017.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 60vh;
}

.card{
    margin: 42px;
    text-align: center;
    border: none;
    font-size: 22px;
}

h1{
    font-family: 'Old Standard TT', serif;
    font-size: 42px;
    text-align: center;
}

h5{
    font-family: 'Old Standard TT', serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.wis{
    background-color: rgb(230, 230, 230);
    padding-top: 62px !important;
    padding-bottom: 62px;
}

.sabidurias{
    background-color: lightblue;
    padding-top: 62px !important;
    padding-bottom: 0px;
    margin-bottom: 0px !important;
}

.sabidurias .card{
    background-color: lightblue !important;
}

p{
    font-size: 21px;
    text-align: left;
    width: 80%;
    margin: auto;
    display: block;
}
